@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.herosection .slick-prev {
    right: 17px ;
    top: 50% ;
}
.herosection .slick-next{
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}
.herosection .slick-prev{
  left: 17px ;
  z-index: 10;
}

.bg-black .slick-slider {
  height: 452px ;
}
.latestProductSlider .slick-slide{
    margin: 10px;
}
.latestProductSlider .slick-next {
  right: -20px;
  top: 34%;
 
}
.latestProductSlider .slick-prev {
  left: -20px;
  z-index: 10;
  top: 34%;
}
.latestProductSlider .slick-list{
  height: 450px;
}


